@import com.jeroenreijn.examples.model.*
@import org.springframework.web.servlet.support.RequestContext
@import org.springframework.validation.BeanPropertyBindingResult

@args (Iterable<Presentation> presentations, i18nLayout i18n)

@css => {
<link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css" media="screen"/>
}

@js => {
<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
}

@base.template(i18n.message("example.title"), css, js) -> {
	@for (presentation : presentations) {
		<div class="card mb-3 shadow-sm rounded">
		    <div class="card-header">
		        <h5 class="card-title">@presentation.getTitle() - @presentation.getSpeakerName()</h5>
		    </div>
		    <div class="card-body">
		        @raw(presentation.getSummary())
		    </div>
		</div>
	}
}