<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title th:text="#{example.title} + ' - Thymeleaf'">Title</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.0.1/css/bootstrap.min.css}"/>
</head>

<body>

<div class="page-header" th:fragment="pageHeader">
    <h1 th:text="#{example.title} + ' - Thymeleaf'">Title</h1>
</div>

<section th:fragment="scripts" th:remove="tag">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.2.min.js"
            th:src="@{/webjars/jquery/2.0.2/jquery.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.0.1/js/bootstrap.min.js}"></script>
</section>

</body>

</html>