<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="includes :: head">
  <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <div th:substituteby="includes :: pageHeader"></div>
        <div class="panel panel-default"  th:each="item : ${presentations}">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="${item.title} +' - '+ ${item.speakerName}">Title - Speakername</h3>
            </div>
            <div class="panel-body" th:utext="${item.summary}">Summary</div>
        </div>
    </div>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.2.min.js" th:substituteby="includes :: scripts"></script>
    <script th:remove="all" type="text/javascript" src="../../static/js/thymol.js"></script>
</body>
</html>