<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="includes :: head">
</head>
<body>
    <div class="container">
        <div th:substituteby="includes :: pageHeader"></div>
        <div class="panel panel-default"  th:each="item : ${presentations}">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="${item.title} +' - '+ ${item.speakerName}">Title - Speakername</h3>
            </div>
            <div class="panel-body" th:utext="${item.summary}">Summary</div>
        </div>
    </div>
</body>
</html>