<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>{{#i18n}}example.title{{/i18n}} - Mustache</title>
    <link rel="stylesheet" href="{{rc.contextPath}}/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>