<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{title}} - {{speakerName}}</h3>
    </div>
    <div class="panel-body">
        {{{summary}}}
    </div>
</div>
