<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        <div class="container">
            <div class="pb-2 mt-4 mb-3 border-bottom">
                <h1>{{#i18n}}example.title{{/i18n}} - Mustache</h1>
            </div>
            {{#presentations}}
                {{>presentation}}
            {{/presentations}}
        </div>
        {{>scripts}}
    </body>
</html>