#macro( head )
<head>
    <meta charset=utf-8/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv=X-UA-Compatible content="IE=Edge"/>
    <title>#springMessage("example.title") - Velocity</title>
    <link rel="stylesheet" href="$link.setRelative("/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css")" media="screen" />
</head>
#end

#macro( pageTitle )
<div class="page-header">
    <h1>#springMessage("example.title") - Velocity</h1>
</div>
#end

#macro( scripts )
<script src=$link.setRelative("/webjars/jquery/3.1.1/jquery.min.js")></script>
<script src=$link.setRelative("/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js")></script>
#end
