#parse("/WEB-INF/velocity/includes.vm")
<!DOCTYPE html>
<html>
#head()
<body>
<div class="container">
  #pageTitle()
  #foreach( $presentation in $presentations )
      <div class="card mb-3 shadow-sm rounded">
          <div class="card-header">
              <h5 class="card-title">$presentation.title - $presentation.speakerName</h5>
          </div>
          <div class="card-body">
              ${presentation.summary}
          </div>
      </div>
  #end
  #scripts()
</div>
</body>
</html>