<!DOCTYPE html>
<html>
#head()
<body>
<div class="container">
  #pageTitle()
  #foreach( $presentation in $presentations )
      <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">$presentation.title - $presentation.speakerName</h3>
          </div>
          <div class="panel-body">
              ${presentation.summary}
          </div>
      </div>
  #end
  #scripts()
</div>
</body>
</html>